@import '../../variables/fonts.scss';
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap');

.about {
    color: white;
    background: url('./about.svg') 0px 700px / 100% no-repeat;
    font-family: 'Kaisel Decol';
}

.main {
    padding: 30px 5px 30px 5px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 900px;
}

.main__text {
    width: 50%;
}

.main__title {
    margin: 20px 0 20px 0;
    font-family: $font-family;
    text-transform: uppercase;
    font-size: 40px;
    color: rgb(249, 249, 248);
    letter-spacing: 3px;
}

.main__description {
    max-width: 400px;
    color: rgb(174, 174, 174);
    line-height: 20px;
}

.main__img {
    width: 45%;
}

.why {
    max-width: 900px;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.why__title {
    letter-spacing: 2px;
    font-family: $font-family;
    text-transform: uppercase;
    margin: 20px 0 20px 0;
    font-size: 24px;
}

.why__text {
    max-width: 600px;
    line-height: 20px;
    color: rgb(174, 174, 174);
    margin-bottom: 50px;
}

@media (max-width: 671px) {
    .main {
        flex-direction: column;
        align-items: center;
        &__text {
            width: 100%;
            margin-bottom: 30px;
        }
        &__title {
            text-align: center;
        }
        &__img {
            width: 300px;
        }
        &__description {
            margin: 0 auto;
        }
    }
}

@media (min-width: 1000px) {
    .main {
        scale: 1.1;
        padding: 100px 5px 100px 5px;
    }

    .why {
        max-width: 900px;
        margin: 0 auto;
        padding: 100px 5px 100px 5px;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        scale: 1.1;
    }
}

@media (min-width: 1100px) {
    .main {
        scale: 1.2;
    }

    .why {
        scale: 1.2;
    }
}
