@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

select {
    -webkit-appearance: none; /* Виключити стандартну стрілку у Сафарі */
    appearance: none;
    border-radius: 0;
    padding-left: 5px;
    /* Додаткові стилі та властивості... */
}
select {
    position: relative;
    & option {
        position: absolute;
        left: 0;
        top: 0;
    }
}
select {
    -webkit-overflow-scrolling: touch;
    /* Інші стилі... */
}

.pagesTop {
    height: 30vh;
    min-height: 100px;
    background: url('../../pagesTop/pages_back.png') 0 0 / cover no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    &__title {
        color: white;
        font-size: 32px;
        font-family: 'Koulen';
        letter-spacing: 2px;
        margin-bottom: 5px;
    }
}

.filter_container {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.735);
    width: 420px;
    height: 70px;
}

.filter {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    &__button {
        width: 30%;
        height: 100%;
        background-color: #dd5e17;
        color: white;
    }
    &__items {
        width: 69%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__top {
        display: flex;
        height: 45%;
        justify-content: space-between;
        &_item {
            width: 49%;
        }
    }
    &__bottom {
        height: 45%;
    }
}

.select {
    width: 100%;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    height: 100%;
}

@media (max-width: 430px) {
    .filter_container {
        scale: 0.75;
    }
}
