@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap');
@import '../../variables/fonts.scss';

.offers {
    color: white;
    font-family: 'Kaisel Decol';
    &__header {
        display: flex;
        margin-top: 20px;
        border-top: 1px solid white;
        justify-content: space-around;
        &_item {
            color: white;
            background-color: transparent;
            font-family: $font-family;
            text-transform: uppercase;
            font-size: 2vw;
            position: relative;
            padding-top: 10px;
            &::after {
                position: absolute;
                height: 10px;
                width: 1px;
                left: 50%;
                top: 0;
                background-color: white;
                content: '';
            }
        }
    }
}

.body {
    &__top {
        margin: 5vh 0 5vh 0;
        display: flex;
        justify-content: space-around;
        background: url(./offers_line.png) 100% 0 / cover;
    }
    &__title {
        padding: 30px 10px 0 10px;
        font-family: $font-family;
        text-transform: uppercase;
        font-size: 40px;
        max-width: 300px;
        letter-spacing: 5px;
        margin-bottom: 30px;
    }
    &__img {
        width: 50%;
    }
    &__description {
        max-width: 700px;
        padding: 10px;
        margin: 0 auto;
        &_title {
            font-family: $font-family;
            text-transform: uppercase;
            text-align: center;
            font-size: 32px;
            letter-spacing: 3px;
            margin-bottom: 20px;
        }
        &_text {
            margin: 10px 0 10px 0;
            line-height: 22px;
            font-size: 18px;
            text-align: center;
        }
    }
    &__steps {
        position: relative;
        margin-top: 50px;
        margin-bottom: 100px;
        background: url('./line_2.svg') 0 0 / 100% no-repeat;
        padding: 10px;
        &_title {
            font-family: $font-family;
            text-transform: uppercase;
            font-size: 32px;
            letter-spacing: 3px;
            text-align: center;
            margin: 40px;
        }
    }
}

.more {
    position: absolute;
    width: 200px;
    background-color: transparent;
    color: rgb(93, 211, 211);
    left: calc(50% - 100px);
    bottom: -50px;
    font-size: 20px;
}

@media (max-width: 671px) {
    .body__top {
        flex-direction: column;
    }
    .body__img {
        width: 100%;
    }
    .offers {
        &__header_item {
            font-size: 3vw;
        }
    }
}
